<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Tables</title>

    <!-- Fontfaces CSS-->
    <link href="css/font-face.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/theme.css" rel="stylesheet" media="all">
    <link rel="shortcut icon" href="images/icon/icon.jpg" type="image/x-icon">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                       
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            

                                <form action="/admin" method="get" accept-charset="utf-8">
                                                
                                                <input type="hidden" name="username" value="<%if(Username){%> <%=Username%><%} %>">
                                                <input type="hidden" name="email" value="<%if(Email){%> <%=Email%><%} %>">
                                                <!-- <a class="js-arrow" href="#">    -->                                          

                                <i class="fas fa-tachometer-alt"><input type="submit" value="Dashboard"></i><!-- </a> --></form>
                           
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-chart-bar"></i>Charts</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-table"></i>Tables</a>
                        </li>
                      <!--  <li>
                            <a href="#">
                                <i class="far fa-check-square"></i>Forms</a>
                        </li>
                      -->
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>Pages</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="#">Login</a>
                                </li>
                                <li>
                                    <a href="#">Register</a>
                                </li>
                           <!--     <li>
                                    <a href="#">Forget Password</a>
                                </li> -->
                            </ul>
                        </li>
                      <!--  <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-desktop"></i>layouts</a>
                          
                        </li> -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
              
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="has-sub">

                             <form action="/admin" method="get" accept-charset="utf-8">
                                                
                                                <input type="hidden" name="username" value="<%if(Username){%> <%=Username%><%} %>">
                                                <input type="hidden" name="email" value="<%if(Email){%> <%=Email%><%} %>">

                            <<!-- a class="js-arrow" href="#"> -->
                                <i class="fas fa-tachometer-alt"><input type="submit" value="Dashboard"></i><!-- </a> --></form>
                          
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-chart-bar"></i>Charts</a>
                        </li>
                        <li class="active">
                            <a href="#">
                                <i class="fas fa-table"></i>Tables</a>
                        </li>
                     <!--   <li>
                            <a href="#">
                                <i class="far fa-check-square"></i>Forms</a>
                        </li> -->
                    
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>Pages</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="#">Login</a>
                                </li>
                                <li>
                                    <a href="#">Register</a>
                                </li>
                             <!--   <li>
                                    <a href="#">Forget Password</a>
                                </li> -->
                            </ul>
                        </li>
                    <!--    <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-desktop"></i>layouts</a>
                          
                        </li> -->
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                            <div class="header-button">
                                 <div class="noti-wrap">
                                    <span class="role admin">Admin</span>
                                 </div>
                              
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">umair ahmed</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#"><% if(Username){%> <%=Username%> <%} %></a>
                                                    </h5>
                                                    <span class="email"><% if(Email){%> <%=Email%> <%} %></span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-account"></i>Account</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-settings"></i>Setting</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-money-box"></i>Billing</a>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                 <form action="/logout" method="get" accept-charset="utf-8">
                                                
                                                <input type="hidden" name="username" value="<%if(Username){%> <%=Username%><%} %>">
                                                <input type="hidden" name="email" value="<%if(Email){%> <%=Email%><%} %>">
                                                <a href="#">
                                                    <i class="zmdi zmdi-power"></i><input type="submit" value="Logout"></a>
                                              </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- END HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                     
                        <div class="row">
                            <h3 class="title-5 m-b-35" style="font-weight: bold; text-decoration: underline;">FRAUD TABLE</h3>
                            <div class="table-responsive m-b-40">
                                    <table class="table table-borderless table-data3">
                                        <thead>
                                            <tr style="background-color: red">
                                                <th>Gender</th>
                                                <th>Married</th>
                                                <th>Dependents</th>
                                                <th>Self_Employed</th>
                                                <th>ApplicantIncome</th>
                                                <th>Coapplicant_Income</th>
                                                <th>Loan_Amount</th>
                                                <th>Loan_Amount_Term</th>
                                                <th>CreditHistory</th>
                                                <th>Property_Area</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                           <% if(fraud){
                                                fraud.forEach(function(fraud){ %>
                                           
                                            <tr>
                                                <td><%= fraud.Gender %></td>
                                                <td><%= fraud.Married %></td>
                                                <td><%= fraud.Dependents %></td>
                                                <td><%= fraud.Self_Employed %></td>
                                                <td><%= fraud.ApplicantIncome %></td>
                                                <td><%= fraud.Coapplicant_Income %></td>
                                                <td><%= fraud.Loan_Amount %></td>
                                                <td><%= fraud.Loan_Amount_Term %></td>
                                                <td><%= fraud.CreditHistory %></td>
                                                <td><%= fraud.Property_Area %></td> 
                                                 <td><form action="/approve" method="get" accept-charset="utf-8">
                                                    <input type="hidden" name="ApplicantIncome" value="<%=fraud.ApplicantIncome%>">
                                                    <input type="hidden" name="ApplicantIncome" value="<%=fraud.Coapplicant_Income%>">
                                                    <input type="hidden" name="email" value="<%=Email%>">
                                                    <input type="hidden" name="username" value="<%=Username%>">
                                                    <input type="hidden" name="fraud" value="<%=fraud%>">
                                                    <input type="submit" value="Approve">
                                                    </form>
                                                </td>   
                                                </tr>                                                     
                                                      <% }) }%>

                                            
                                        </tbody>
                                    </table>
                                </div>
                        <div class="row">
                            <div class="col-md-12">
                            </div>
                        </div>
                        <div class="row m-t-30">
                            <div class="col-md-12">
                                <!-- DATA TABLE-->
                              
                                <!-- END DATA TABLE-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                               <!-- <div class="copyright">
                                    <p>Copyright © spidey developers and security</p>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="vendor/slick/slick.min.js">
    </script>
    <script src="vendor/wow/wow.min.js"></script>
    <script src="vendor/animsition/animsition.min.js"></script>
    <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="vendor/circle-progress/circle-progress.min.js"></script>
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="js/main.js"></script>

</body>

</html>
<!-- end document-->
